openapi: 3.0.3
info:
  title: Personal AI Assistant API
  version: 1.0.0
servers:
  - url: https://api.assistant.app
  - url: http://localhost:8000

tags:
  - name: Voice
  - name: Memory
  - name: Attachments
  - name: Dashboard
  - name: Settings
  - name: Admin
  - name: Author
  - name: Billing

paths:
  /api/v1/voice/memory:
    post:
      tags: [Voice]
      summary: Upload voice memory
      description: Upload audio for transcription, extraction, and confirmation proposal.
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [audio]
              properties:
                audio:
                  type: string
                  format: binary
      responses:
        "200":
          description: Transcription and extracted memory proposal.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MemoryProposalResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/voice/question:
    post:
      tags: [Voice]
      summary: Upload voice question
      description: Upload audio and receive an answer based on stored memories.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [audio]
              properties:
                audio:
                  type: string
                  format: binary
      responses:
        "200":
          description: Assistant response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuestionResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/question:
    post:
      tags: [Voice]
      summary: Ask text question
      description: Submit a text question and receive an answer based on stored memories.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TextQuestionRequest"
      responses:
        "200":
          description: Assistant response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuestionResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"

  /api/v1/memory:
    post:
      tags: [Memory]
      summary: Save confirmed memory
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SaveMemoryRequest"
      responses:
        "200":
          description: Memory stored.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MemoryRecord"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"

  /api/v1/memory/{id}:
    delete:
      tags: [Memory]
      summary: Delete memory
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Memory deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteMemoryResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Memory not found.

  /api/v1/memories:
    get:
      tags: [Memory]
      summary: List user memories
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: memory_type
          schema:
            $ref: "#/components/schemas/MemoryType"
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
      responses:
        "200":
          description: List of memories.
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/MemoryRecord"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/attachments:
    post:
      tags: [Attachments]
      summary: Upload receipt photo attachment
      description: Accepts only receipt photos. PDF and non-image files are rejected. Upload does not persist a memory by itself; memory persistence still requires explicit user confirmation in the memory flow.
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: Allowed content types are `image/jpeg`, `image/png`, `image/webp`, `image/heic`.
                memory_id:
                  type: string
                  format: uuid
      responses:
        "200":
          description: Attachment stored.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttachmentResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"

  /api/v1/dashboard:
    get:
      tags: [Dashboard]
      summary: Dashboard statistics
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Dashboard data.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/me/settings:
    get:
      tags: [Settings]
      summary: Get current user settings
      security:
        - bearerAuth: []
      responses:
        "200":
          description: User settings.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserSettingsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/me/settings/profile:
    patch:
      tags: [Settings]
      summary: Update profile settings
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateProfileRequest"
      responses:
        "200":
          description: Profile updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserSettingsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"

  /api/v1/me/settings/security:
    patch:
      tags: [Settings]
      summary: Trigger security-sensitive settings change
      description: Starts email/password change flow and must trigger transactional notification.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSecurityRequest"
      responses:
        "200":
          description: Security change flow started.
          content:
            application/json:
              schema:
                type: object
                properties:
                  accepted:
                    type: boolean
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"

  /api/v1/billing/subscription/change-plan:
    post:
      tags: [Billing]
      summary: Change user subscription plan
      description: Available for regular `user` role. `admin` and `author` are billing-exempt with locked `premium` plan.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChangePlanRequest"
      responses:
        "200":
          description: Plan change accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserSettingsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Forbidden. Plan is locked by role policy.
        "422":
          $ref: "#/components/responses/ValidationError"

  /api/v1/admin/users:
    get:
      tags: [Admin]
      summary: List users (admin/author)
      security:
        - bearerAuth: []
      responses:
        "200":
          description: User list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/AdminUserRecord"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Forbidden. Admin or Author role required.

  /api/v1/admin/users/{id}/status:
    patch:
      tags: [Admin]
      summary: Update user status (admin/author)
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserStatusRequest"
      responses:
        "200":
          description: User status updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminUserRecord"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Forbidden. Admin or Author role required.
        "422":
          $ref: "#/components/responses/ValidationError"

  /api/v1/author/dashboard:
    get:
      tags: [Author]
      summary: Global supervision dashboard (author only)
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Global app supervision metrics.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthorDashboardResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Forbidden. Author role required.

  /api/v1/author/users/{id}/role:
    patch:
      tags: [Author]
      summary: Update user role (author only)
      description: >
        Author can promote/demote between `user` and `admin`.
        Self-role change is forbidden and operations that remove the last active author must be rejected.
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserRoleRequest"
      responses:
        "200":
          description: User role updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminUserRecord"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Forbidden. Author role required.
        "422":
          $ref: "#/components/responses/ValidationError"

components:
  parameters:
    IdempotencyKey:
      in: header
      name: Idempotency-Key
      required: false
      schema:
        type: string
      description: Optional key to make POST operations idempotent on client retries.

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    Unauthorized:
      description: Unauthorized.
    ValidationError:
      description: Validation error.

  schemas:
    MemoryType:
      type: string
      enum:
        - expense_event
        - inventory_event
        - loan_event
        - note
        - document

    SaveMemoryRequest:
      type: object
      required: [memory_type, raw_text, structured_data, confirmed]
      properties:
        memory_type:
          $ref: "#/components/schemas/MemoryType"
        raw_text:
          type: string
        structured_data:
          type: object
          additionalProperties: true
        confirmed:
          type: boolean
          description: Must be true. Memory cannot be persisted otherwise.
      description: >
        Persistence contract: required fields in `structured_data` depend on `memory_type`.
        If missing, server must return 422 with `memory.missing_required_fields`.

    MemoryRecord:
      type: object
      required: [id, memory_type, raw_text, structured_data, created_at]
      properties:
        id:
          type: string
          format: uuid
        memory_type:
          $ref: "#/components/schemas/MemoryType"
        raw_text:
          type: string
        structured_data:
          type: object
          additionalProperties: true
        created_at:
          type: string
          format: date-time

    MemoryProposalResponse:
      type: object
      required: [transcript, memory_type, structured_data, needs_confirmation]
      properties:
        transcript:
          type: string
        memory_type:
          $ref: "#/components/schemas/MemoryType"
        structured_data:
          type: object
          additionalProperties: true
        clarification_questions:
          type: array
          items:
            type: string
        missing_required_fields:
          type: array
          items:
            type: string
        needs_confirmation:
          type: boolean

    QuestionResponse:
      type: object
      required: [answer]
      properties:
        answer:
          type: string
        confidence:
          type: string
          enum: [high, medium, low]
        source_memory_ids:
          type: array
          items:
            type: string
            format: uuid

    TextQuestionRequest:
      type: object
      required: [question]
      properties:
        question:
          type: string
          minLength: 1

    AttachmentResponse:
      type: object
      required: [id, file_url, file_type, status]
      properties:
        id:
          type: string
          format: uuid
        file_url:
          type: string
        file_type:
          type: string
        status:
          type: string
          enum: [uploaded, ocr_processing, proposal_ready, confirmed, persisted, failed]
        ocr_status:
          type: string
          enum: [pending, processing, completed, failed]
        ocr_text_preview:
          type: string
          description: Optional OCR preview text extracted from the receipt photo.
        error_code:
          type: string
          description: Present when status is `failed` (for example `ocr.processing_failed`).

    DashboardResponse:
      type: object
      additionalProperties: true

    AuthorDashboardResponse:
      type: object
      additionalProperties: true

    UserSettingsResponse:
      type: object
      properties:
        user_id:
          type: string
          format: uuid
        email:
          type: string
        role:
          type: string
          enum: [user, admin, author]
        status:
          type: string
          enum: [active, suspended, canceled]
        subscription_plan:
          type: string
          enum: [free, premium]
        billing_exempt:
          type: boolean
          description: True for `admin` and `author` roles by policy.

    UpdateProfileRequest:
      type: object
      additionalProperties: true

    UpdateSecurityRequest:
      type: object
      properties:
        email:
          type: string
        password:
          type: string
      additionalProperties: false

    ChangePlanRequest:
      type: object
      required: [plan]
      properties:
        plan:
          type: string
          enum: [free, premium]

    AdminUserRecord:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
        role:
          type: string
          enum: [user, admin, author]
        status:
          type: string
          enum: [active, suspended, canceled]
        subscription_plan:
          type: string
          enum: [free, premium]
        billing_exempt:
          type: boolean

    UpdateUserStatusRequest:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [active, suspended, canceled]

    UpdateUserRoleRequest:
      type: object
      required: [role]
      properties:
        role:
          type: string
          enum: [user, admin]

    DeleteMemoryResponse:
      type: object
      required: [deleted]
      properties:
        deleted:
          type: boolean
