openapi: 3.0.3
info:
  title: Personal AI Assistant API
  version: 1.0.0
servers:
  - url: https://api.assistant.app
  - url: http://localhost:8000

tags:
  - name: Health
  - name: Metrics
  - name: Voice
  - name: Memory
  - name: Attachments
  - name: Dashboard
  - name: Settings
  - name: Notifications
  - name: Admin
  - name: Author
  - name: Billing
  - name: Feedback

paths:
  /health/live:
    get:
      tags: [Health]
      summary: Liveness probe
      responses:
        "200":
          description: Service is alive.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string

  /health/ready:
    get:
      tags: [Health]
      summary: Readiness probe
      responses:
        "200":
          description: Service is ready.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string

  /metrics:
    get:
      tags: [Metrics]
      summary: Prometheus-style runtime and LLMOps metrics
      responses:
        "200":
          description: Metrics payload.
          content:
            text/plain:
              schema:
                type: string

  /api/v1/voice/memory:
    post:
      tags: [Voice]
      summary: Upload voice memory
      description: Upload audio for transcription, extraction, and confirmation proposal. Supported content types are `audio/mpeg`, `audio/mp3`, `audio/wav`, `audio/x-wav`, `audio/mp4`, `audio/x-m4a`, `audio/webm`, and `audio/ogg`; max payload size is 5 MB.
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [audio]
              properties:
                audio:
                  type: string
                  format: binary
      responses:
        "200":
          description: Transcription and extracted memory proposal.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MemoryProposalResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"
        "503":
          description: Transcription provider unavailable. Client can retry later.

  /api/v1/voice/question:
    post:
      tags: [Voice]
      summary: Upload voice question
      description: Upload audio and receive an answer based on stored memories.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [audio]
              properties:
                audio:
                  type: string
                  format: binary
      responses:
        "200":
          description: Assistant response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuestionResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/question:
    post:
      tags: [Voice]
      summary: Ask text question
      description: Submit a text question and receive an answer based on stored memories.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TextQuestionRequest"
      responses:
        "200":
          description: Assistant response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuestionResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"

  /api/v1/question/stream:
    post:
      tags: [Voice]
      summary: Ask text question with streaming response
      description: Streams answer chunks in real time using Server-Sent Events (SSE). If streaming is unavailable, client must fallback to `/api/v1/question`.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TextQuestionRequest"
      responses:
        "200":
          description: SSE stream with incremental answer events and final metadata event.
          content:
            text/event-stream:
              schema:
                type: string
                example: |
                  event: chunk
                  data: {"text":"You spent "}

                  event: chunk
                  data: {"text":"720 CHF"}

                  event: done
                  data: {"confidence":"high","source_memory_ids":["uuid"]}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"
        "503":
          description: Streaming unavailable. Client should fallback to non-stream endpoint.

  /api/v1/feedback/answers:
    post:
      tags: [Feedback]
      summary: Submit feedback for AI answer
      description: Capture user satisfaction for a specific AI answer (`like` or `dislike`) with optional comment.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AnswerFeedbackRequest"
      responses:
        "200":
          description: Feedback accepted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  accepted:
                    type: boolean
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"

  /api/v1/memory:
    post:
      tags: [Memory]
      summary: Save confirmed memory
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SaveMemoryRequest"
      responses:
        "200":
          description: Memory stored.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MemoryRecord"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"

  /api/v1/memory/{id}:
    delete:
      tags: [Memory]
      summary: Delete memory
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Memory deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteMemoryResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Memory not found.

  /api/v1/memories:
    get:
      tags: [Memory]
      summary: List user memories
      security:
        - bearerAuth: []
      parameters:
        - in: header
          name: x-tenant-id
          required: false
          schema:
            type: string
          description: Required for tenant-aware tokens; must match token tenant claim.
        - in: query
          name: memory_type
          schema:
            $ref: "#/components/schemas/MemoryType"
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
      responses:
        "200":
          description: List of memories.
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/MemoryRecord"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Forbidden. Tenant mismatch/missing tenant context for tenant-aware token.

  /api/v1/attachments:
    post:
      tags: [Attachments]
      summary: Upload receipt photo attachment
      description: Accepts only receipt photos. PDF and non-image files are rejected. Upload does not persist a memory by itself; memory persistence still requires explicit user confirmation in the memory flow. Explicit transition contract: when OCR succeeds (`ocr_status=completed`, `status=proposal_ready`) the response includes `memory_proposal` generated from `ocr_text_preview`; on OCR failure (`status=failed`) `memory_proposal` is null and `error_code` is present.
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: Allowed content types are `image/jpeg`, `image/png`, `image/webp`, `image/heic`.
                memory_id:
                  type: string
                  format: uuid
      responses:
        "200":
          description: Attachment stored.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttachmentResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"

  /api/v1/dashboard:
    get:
      tags: [Dashboard]
      summary: Dashboard statistics
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Dashboard data.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/me/settings:
    get:
      tags: [Settings]
      summary: Get current user settings
      security:
        - bearerAuth: []
      responses:
        "200":
          description: User settings.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserSettingsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/me/settings/profile:
    patch:
      tags: [Settings]
      summary: Update profile settings
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateProfileRequest"
      responses:
        "200":
          description: Profile updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserSettingsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"

  /api/v1/me/settings/security:
    patch:
      tags: [Settings]
      summary: Trigger security-sensitive settings change
      description: Starts email/password/2FA security flow and must trigger transactional notification.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSecurityRequest"
      responses:
        "200":
          description: Security change flow started.
          content:
            application/json:
              schema:
                type: object
                properties:
                  accepted:
                    type: boolean
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"

  /api/v1/me/settings/notifications:
    patch:
      tags: [Settings]
      summary: Update notification preferences
      description: Update per-user channel preferences for in-app, push, and email notifications.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateNotificationPreferencesRequest"
      responses:
        "200":
          description: Notification preferences updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserSettingsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"

  /api/v1/me/settings/payment-methods:
    get:
      tags: [Settings]
      summary: List user payment methods
      description: Returns masked payment methods for the authenticated user.
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Payment method list.
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/PaymentMethodRecord"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Forbidden. Plan billing is locked by role policy.

  /api/v1/me/settings/payment-methods/setup-intent:
    post:
      tags: [Settings]
      summary: Create setup intent for payment method
      description: Creates a provider setup intent/client secret to add or update a payment method.
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Setup intent created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentMethodSetupIntentResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Forbidden. Plan billing is locked by role policy.

  /api/v1/me/settings/payment-methods/{id}/default:
    post:
      tags: [Settings]
      summary: Set default payment method
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Default payment method updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  updated:
                    type: boolean
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Forbidden. Plan billing is locked by role policy.
        "404":
          description: Payment method not found.

  /api/v1/me/settings/payment-methods/{id}:
    delete:
      tags: [Settings]
      summary: Remove payment method
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Payment method removed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted:
                    type: boolean
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Forbidden. Plan billing is locked by role policy.
        "404":
          description: Payment method not found.

  /api/v1/notifications:
    get:
      tags: [Notifications]
      summary: List in-app notifications
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: unread_only
          schema:
            type: boolean
            default: false
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        "200":
          description: Notification list.
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/InAppNotificationRecord"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/notifications/{id}/read:
    post:
      tags: [Notifications]
      summary: Mark in-app notification as read
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Notification marked as read.
          content:
            application/json:
              schema:
                type: object
                properties:
                  updated:
                    type: boolean
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Notification not found.

  /api/v1/billing/subscription/change-plan:
    post:
      tags: [Billing]
      summary: Change user subscription plan
      description: Available for regular `user` role. `admin` and `author` are billing-exempt with locked `premium` plan.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChangePlanRequest"
      responses:
        "200":
          description: Plan change accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserSettingsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Forbidden. Plan is locked by role policy.
        "422":
          $ref: "#/components/responses/ValidationError"

  /api/v1/billing/subscription/cancel-preview:
    post:
      tags: [Billing]
      summary: Preview cancellation outcomes and retention options
      description: Returns consequences and available retention actions (for example pause/downgrade) before cancel.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelPreviewRequest"
      responses:
        "200":
          description: Cancellation preview generated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CancelPreviewResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Forbidden. Plan is locked by role policy.
        "422":
          $ref: "#/components/responses/ValidationError"

  /api/v1/billing/subscription/cancel:
    post:
      tags: [Billing]
      summary: Cancel subscription
      description: Cancels subscription with mandatory reason capture for churn analytics.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelSubscriptionRequest"
      responses:
        "200":
          description: Subscription canceled.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserSettingsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Forbidden. Plan is locked by role policy.
        "422":
          $ref: "#/components/responses/ValidationError"

  /api/v1/me/retention/status:
    get:
      tags: [Billing]
      summary: Get retention status and suggested actions
      description: Returns churn-risk category and recommended retention actions for current user.
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Retention status.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetentionStatusResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/billing/coupons/apply:
    post:
      tags: [Billing]
      summary: Apply coupon code
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApplyCouponRequest"
      responses:
        "200":
          description: Coupon applied.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserSettingsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Forbidden. Not eligible or role-locked policy.
        "422":
          $ref: "#/components/responses/ValidationError"

  /api/v1/me/data-export:
    post:
      tags: [Settings]
      summary: Request user data export
      description: Starts asynchronous export job for current user data.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DataExportRequest"
      responses:
        "200":
          description: Export job accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DataExportJobResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"

  /api/v1/me/data-export/{job_id}:
    get:
      tags: [Settings]
      summary: Get export job status
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: job_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Export job status.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DataExportJobStatusResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Export job not found.

  /api/v1/admin/users:
    get:
      tags: [Admin]
      summary: List users (admin/author)
      security:
        - bearerAuth: []
      parameters:
        - in: header
          name: x-tenant-id
          required: false
          schema:
            type: string
          description: Required for tenant-aware tokens; must match token tenant claim.
      responses:
        "200":
          description: User list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/AdminUserRecord"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Forbidden. Admin/Author role required, tenant mismatch, or MFA required for privileged role.

  /api/v1/admin/users/{id}/status:
    patch:
      tags: [Admin]
      summary: Update user status (admin/author)
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserStatusRequest"
      responses:
        "200":
          description: User status updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminUserRecord"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Forbidden. Admin or Author role required.
        "422":
          $ref: "#/components/responses/ValidationError"

  /api/v1/author/dashboard:
    get:
      tags: [Author]
      summary: Global supervision dashboard (author only)
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Global app supervision metrics.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthorDashboardResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Forbidden. Author role required.

  /api/v1/author/users/{id}/role:
    patch:
      tags: [Author]
      summary: Update user role (author only)
      description: >
        Author can promote/demote between `user` and `admin`.
        Self-role change is forbidden and operations that remove the last active author must be rejected.
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserRoleRequest"
      responses:
        "200":
          description: User role updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminUserRecord"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Forbidden. Author role required.
        "422":
          $ref: "#/components/responses/ValidationError"

components:
  parameters:
    IdempotencyKey:
      in: header
      name: Idempotency-Key
      required: false
      schema:
        type: string
      description: Optional key to make POST operations idempotent on client retries.

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    Unauthorized:
      description: Unauthorized.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    ValidationError:
      description: Validation error.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    Forbidden:
      description: Forbidden.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    Conflict:
      description: Conflict.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    RateLimited:
      description: Too many requests.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    ServiceUnavailable:
      description: Dependency unavailable.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    InternalError:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"

  schemas:
    ErrorEnvelope:
      type: object
      required: [error]
      properties:
        error:
          $ref: "#/components/schemas/ErrorObject"

    ErrorObject:
      type: object
      required: [code, message, details, request_id, retryable]
      properties:
        code:
          type: string
          description: Stable machine-readable error code (`domain.reason`).
        message:
          type: string
          description: Human-readable summary.
        details:
          type: object
          additionalProperties: true
        request_id:
          type: string
          description: Correlation ID used for troubleshooting.
        retryable:
          type: boolean
          description: True only for transient failures where retry may succeed.

    MemoryType:
      type: string
      enum:
        - expense_event
        - inventory_event
        - loan_event
        - note
        - document

    SaveMemoryRequest:
      type: object
      required: [memory_type, raw_text, structured_data, confirmed]
      properties:
        memory_type:
          $ref: "#/components/schemas/MemoryType"
        raw_text:
          type: string
        structured_data:
          type: object
          additionalProperties: true
        structured_data_schema_version:
          type: integer
          minimum: 1
          default: 1
          description: Version of `structured_data` schema used by the client payload.
        confirmed:
          type: boolean
          description: Must be true. Memory cannot be persisted otherwise.
      description: >
        Persistence contract: required fields in `structured_data` depend on `memory_type`.
        If missing, server must return 422 with `memory.missing_required_fields`.

    MemoryRecord:
      type: object
      required: [id, memory_type, raw_text, structured_data, structured_data_schema_version, created_at]
      properties:
        id:
          type: string
          format: uuid
        memory_type:
          $ref: "#/components/schemas/MemoryType"
        raw_text:
          type: string
        structured_data:
          type: object
          additionalProperties: true
        structured_data_schema_version:
          type: integer
          minimum: 1
          description: Version of `structured_data` schema stored for forward-compatible evolution.
        created_at:
          type: string
          format: date-time

    MemoryProposalResponse:
      type: object
      required: [transcript, memory_type, structured_data, needs_confirmation]
      properties:
        transcript:
          type: string
        memory_type:
          $ref: "#/components/schemas/MemoryType"
        structured_data:
          type: object
          additionalProperties: true
        clarification_questions:
          type: array
          items:
            type: string
        missing_required_fields:
          type: array
          items:
            type: string
        needs_confirmation:
          type: boolean

    QuestionResponse:
      type: object
      required: [answer]
      properties:
        answer:
          type: string
        confidence:
          type: string
          enum: [high, medium, low]
        source_memory_ids:
          type: array
          items:
            type: string
            format: uuid

    TextQuestionRequest:
      type: object
      required: [question]
      properties:
        question:
          type: string
          minLength: 1

    AttachmentResponse:
      type: object
      required: [id, file_url, file_type, status]
      properties:
        id:
          type: string
          format: uuid
        file_url:
          type: string
        file_type:
          type: string
        status:
          type: string
          enum: [uploaded, ocr_processing, proposal_ready, confirmed, persisted, failed]
        ocr_status:
          type: string
          enum: [pending, processing, completed, failed]
        ocr_text_preview:
          type: string
          description: Optional OCR preview text extracted from the receipt photo.
        error_code:
          type: string
          description: Present when status is `failed` (for example `ocr.processing_failed`).
        memory_proposal:
          $ref: "#/components/schemas/AttachmentMemoryProposal"
          nullable: true
          description: Present only when OCR output has been transformed into an explicit memory proposal (`status=proposal_ready`).

    AttachmentMemoryProposal:
      type: object
      required:
        - transcript
        - memory_type
        - structured_data
        - needs_confirmation
        - source_context
      properties:
        transcript:
          type: string
          description: OCR text used as extraction input for this proposal.
        memory_type:
          $ref: "#/components/schemas/MemoryType"
        structured_data:
          type: object
          additionalProperties: true
        clarification_questions:
          type: array
          items:
            type: string
        missing_required_fields:
          type: array
          items:
            type: string
        needs_confirmation:
          type: boolean
        source_context:
          type: string
          enum: [receipt_ocr]
          default: receipt_ocr

    DashboardResponse:
      type: object
      additionalProperties: true

    AuthorDashboardResponse:
      type: object
      additionalProperties: true

    UserSettingsResponse:
      type: object
      properties:
        user_id:
          type: string
          format: uuid
        email:
          type: string
        preferred_language:
          type: string
          enum: [en, it, de]
          description: Preferred UI/assistant language. Fallback is `en`.
        auth_provider:
          type: string
          enum: [password, google, apple, mixed]
        role:
          type: string
          enum: [user, admin, author]
        status:
          type: string
          enum: [active, suspended, canceled]
        mfa_enabled:
          type: boolean
          description: Two-factor authentication status for the current account.
        subscription_plan:
          type: string
          enum: [free, premium]
          description: Current effective plan state.
        billing_exempt:
          type: boolean
          description: True for `admin` and `author` roles by policy.
        payment_methods_enabled:
          type: boolean
          description: False for role-locked billing accounts (`admin`, `author`).
        default_payment_method:
          $ref: "#/components/schemas/PaymentMethodRecord"
        notification_preferences:
          $ref: "#/components/schemas/NotificationPreferences"

    UpdateProfileRequest:
      type: object
      properties:
        preferred_language:
          type: string
          enum: [en, it, de]
      additionalProperties: true

    UpdateSecurityRequest:
      type: object
      required: [action]
      properties:
        action:
          type: string
          enum: [change_email, change_password, enable_2fa, disable_2fa, verify_2fa]
        email:
          type: string
        password:
          type: string
        totp_code:
          type: string
          description: Required for `verify_2fa` and for sensitive changes when challenge is active.
      additionalProperties: false

    NotificationPreferences:
      type: object
      required: [in_app, push, email]
      properties:
        in_app:
          type: boolean
        push:
          type: boolean
        email:
          type: boolean

    UpdateNotificationPreferencesRequest:
      type: object
      required: [preferences]
      properties:
        preferences:
          $ref: "#/components/schemas/NotificationPreferences"

    InAppNotificationRecord:
      type: object
      required: [id, event_type, title, body, read, created_at]
      properties:
        id:
          type: string
          format: uuid
        event_type:
          type: string
          enum:
            - security_event
            - billing_event
            - system_event
        title:
          type: string
        body:
          type: string
        read:
          type: boolean
        created_at:
          type: string
          format: date-time

    PaymentMethodRecord:
      type: object
      required: [id, brand, last4, exp_month, exp_year, is_default]
      properties:
        id:
          type: string
        brand:
          type: string
        last4:
          type: string
        exp_month:
          type: integer
        exp_year:
          type: integer
        is_default:
          type: boolean

    PaymentMethodSetupIntentResponse:
      type: object
      required: [client_secret]
      properties:
        client_secret:
          type: string

    ChangePlanRequest:
      type: object
      required: [plan]
      properties:
        plan:
          type: string
          enum: [free, premium]
          description: Self-service plan change target.

    AnswerFeedbackRequest:
      type: object
      required: [answer_id, sentiment]
      properties:
        answer_id:
          type: string
        sentiment:
          type: string
          enum: [like, dislike]
        reason:
          type: string
        comment:
          type: string

    CancelPreviewRequest:
      type: object
      required: [reason]
      properties:
        reason:
          type: string
          enum: [too_expensive, low_value, too_many_errors, not_using_enough, switched_alternative, other]

    CancelPreviewResponse:
      type: object
      properties:
        can_pause:
          type: boolean
        can_downgrade:
          type: boolean
        suggested_offer:
          type: string
        impact_summary:
          type: string

    CancelSubscriptionRequest:
      type: object
      required: [reason]
      properties:
        reason:
          type: string
          enum: [too_expensive, low_value, too_many_errors, not_using_enough, switched_alternative, other]
        comment:
          type: string

    RetentionStatusResponse:
      type: object
      properties:
        churn_risk:
          type: string
          enum: [low, medium, high]
        recommended_actions:
          type: array
          items:
            type: string

    ApplyCouponRequest:
      type: object
      required: [code]
      properties:
        code:
          type: string

    DataExportRequest:
      type: object
      required: [format]
      properties:
        format:
          type: string
          enum: [json, csv, pdf]

    DataExportJobResponse:
      type: object
      required: [job_id, status]
      properties:
        job_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [queued, processing, completed, failed]

    DataExportJobStatusResponse:
      type: object
      required: [job_id, status]
      properties:
        job_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [queued, processing, completed, failed]
        download_url:
          type: string
        expires_at:
          type: string
          format: date-time

    AdminUserRecord:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
        role:
          type: string
          enum: [user, admin, author]
        status:
          type: string
          enum: [active, suspended, canceled]
        subscription_plan:
          type: string
          enum: [free, premium]
          description: Current effective plan state.
        billing_exempt:
          type: boolean

    UpdateUserStatusRequest:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [active, suspended, canceled]

    UpdateUserRoleRequest:
      type: object
      required: [role]
      properties:
        role:
          type: string
          enum: [user, admin]

    DeleteMemoryResponse:
      type: object
      required: [deleted]
      properties:
        deleted:
          type: boolean
